@media (max-width: 1199px) {
    .lk-parner {
        width: 45%;
    }
    .lk-parner a {
        padding: 27px 20px;
    }
    .but-lk {
        margin: 25px auto 0 -35px;
    }

    .section-lk-top .top .name-person {
        height: 85px;
    }

    .video-news {
        width: 100%;
    }

    .my_application {
        float: left;
    }

    .btn-dimensions {
        margin-top: 18px;
    }

    .but-lk {
        margin: 22px auto;
    }

    .section-lk-top .top {
        height: 100%;
    }

    .btn-black {
        margin: 10px auto;
    }

    .lk-parner {
        width: 40%;
    }

    .section-lk-top .top .name-person {
        background-position-x: 100%;
    }

    .step-content:before {
        display: none;
    }

    .section-steps-relocation .steps .step-menu button {
        margin-bottom: 20px;
    }

    .step-content .content-choice:before {
        display: none;
    }

    .section-steps-relocation .steps .step-menu {
        justify-content: center;
    }

    .step-content .content-choice .geography-block {
        margin-right: 125px;
        margin-left: 125px;
    }

    .col-three .lk-rel {
        width: 48%;
    }

    .col-three .lk-rel label {
        display: block;
    }

    .block-add-service .item {
        width: 33%;
    }

    .add-serv-descript textarea {
        margin-bottom: 0;
    }

    .downloading-files .list .item .all-coll .center-col {
        width: 420px;
    }

    .red-circle {
        top: 15px;
        right: 35px;
    }

    .some-things .information-things .left-col {
        width: 53%;
    }

    .some-things .information-things .right-col {
        width: 45%;
    }
    .some-things .information-things .right-col textarea {
        min-width: 225px;
    }

    .untitled .r-col .r-all input {
        width: 245px;
    }

    .list-things-block {
        margin: 50px 35px 20px 35px;

    }

    .some-things .information-things {
        display: flex;
        justify-content: space-between;
    }

    .choise-catalog-things .tab-content-things .content-choice-things .other-things .things .item {
        width: 33%;
    }

    .but-btn.add_things_js {
        margin: 10px 0 30px 0;
    }

    .red-circle {
        top: 6px;
        right: 2px;
    }

    .bot-btn {
        margin-bottom: 35px;
        margin-top: 30px;
    }
    .section-my-applications .application .left-col, .section-my-applications .application .right-col {
        width: 245px;
        height: 160px;
    }
    .section-my-applications .application .center-col {
        width: 380px;
    }
    .section-my-applications .application .center-col .descript .list .text p, .section-my-applications .application .center-col .descript .list .name p{
        margin: 0 0 10px 0;
    }
    .section-my-applications .application .center-col .descript .list .name p{
        line-height: 14px;
        font-size: 13px;
    }
    .choice-tab-list-order .tab-menu button {
        width: 48.5%;
    }
    .application_top .all-applicat .action-btn .btn-lk-m{
        margin: 30px 5px;
    }
    .application_top .all-applicat .bid-name{
        width: 50%;
    }
    .application_top .all-applicat .action-btn {
        width: 55%;
    }
    .company_offer .about-company {
        width: 83%;
    }
    .company_offer .price-company {
        width: 20%;
    }
    .company_offer .choice-offer .but {
        width: 120px;
    }
    .company_offer .choice-offer {
        width: 36%;
    }
    .company_offer .request-price button, .choice-tab-list-order .tab-content .content-choice .confirm_offer .but {
        width: 265px;
    }
    #js_map #google_map {
        width: 100%;
        height: 87%;
        margin: 30px 0;
    }
    .block-partner_information_top .center-col .company_name .name {
        width: 75%;
    }
    .block-map-partners .contacs .all-block {
        margin-left: 10px;
    }
    .but_comment-partner{
        width: 175px;
    }
    .all_comment_partner .center-col{
        width: 60%;
    }
    .overall-block-company .title h2, .overall .overall-rating .title h2{
        padding: 12px 20px;
    }
    .overall .overall-rating .block-rating, .overall-block-company .all-overall {
        margin-left: 20px;
    }
    .rev-company-comment{
        display: block;
    }
    .rev-company-comment .percent {
        margin-left: 0;
        margin-top: 10px;
    }
    .overall-block-company .all-overall .item .l-col {
        width: 50%;
    }
    .overall-block-company .all-overall .item .center-col, .overall-block-company .all-overall .item .r-col {
        width: 25%;
    }
    overall-block-company .all-overall .item .center-col .star {
        margin: 0 15px 22px 0;
    }
    .choise-catalog-things .tab-menu-things {
        width: 260px;
    }
    .overall-block-company .commit .commit_text textarea {
        width: 390px;
        min-width: 390px;
    }
    .block-map-partners .contacs {
        width: 40%;
    }
    .block-map-partners #map_adress_partner_company{
        width: 60%;
    }
    .document-partner .title {
        width: 65%;
    }
    .document-partner .doc_confirmation {
        width: 35%;
    }
    .document-partner .doc_confirmation p:before {
        left: -10%;
    }
    .some-review-company .l-col {
        background: #f6f7f9;
        width: 275px;
    }
    .bot-btn{
        margin-bottom: 0;
    }
    .register-provider .step-content .content-choice .center-block-provider {
        overflow: visible;
    }
    .block-recommend p:before {
        margin-left: 0;
        left: 0;
    }
    .some-review-company {
        min-height: 345px;
    }
    .company_offer .about-company .company-prop {
        flex-wrap: wrap;
    }
    .choice-tab-list-order .tab-content .content-choice .confirm_offer {
        width: 35%;
    }
    .all_block_company_partner {
        width: 80%;
    }
    .register-provider .step-content {
        padding-bottom: 35px;
    }
    .client_register_center{
        padding-bottom: 35px;
    }

    .val_adress #index-error {
        margin-bottom: -10px;
    }
    .btn-black a {
        padding: 13px 15px;
    }
    label.error {
        position: absolute;
        margin-top: 1px;
    }
    .col-three .lk-rel {
        margin-bottom: 10px;
    }
}

@media (max-width: 1023px) {
    .section-lk-top .top .name-person {
        background-size: 100%;
        background-position: top;
    }
    .register-provider .step-content {
        padding-bottom: 35px;
    }

    #js_map {
        width: 95%;
    }

    #js_map #google_map {
        width: 100%;
        height: 87%;
    }

    .section-lk-top .top {
        height: 100%;
    }

    .btn-black a {
        font-size: 11px;
        line-height: 11px;
    }

    .content-news .news {
        margin: 0 50px 50px 50px;
    }

    .content-news .news h2 {
        font-size: 20px;
        line-height: 20px;
        margin: 40px auto 20px auto;
    }

    .video-news {
        width: 100%;
        height: 350px;
    }

    .lk-parner {
        width: 100%;
    }

    .lk-parner {
        padding: 0;
        margin: 20px auto;
    }

    .content-form-profile .profile-form {
        margin: 70px 5px;
    }

    .section-ordering-services .order {
        width: 75%;
        margin: 55px auto 0 auto;
    }

    .section-ordering-services .order h3 {
        font-size: 25px;
        line-height: 30px;
        margin: 20px auto 5px auto;
    }

    .section-ordering-services .order p {
        padding-bottom: 30px;
    }

    .order-relocation {
        margin: 90px auto 0 auto;
    }

    .step-content .content-choice .geography-block {
        margin-right: 15px;
        margin-left: 15px;
    }

    .step-content .content-choice .conditions-block {
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-add-service .item {
        width: 50%;
    }

    .downloading-files .list .item .all-coll {
        display: block;
    }

    .downloading-files .list .item .all-coll .center-col {
        width: 100%;
    }

    .downloading-files .list .item .all-coll .center-col .info {
        position: inherit;
        top: inherit;
        transform: inherit;
        margin-top: 15px;
    }

    .list-things-bt button, .list-things-bt {
        width: 220px;
        position: inherit;
        top: inherit;
        transform: inherit;
    }

    .downloading-files .right-col {
        margin-left: 30px;
        margin-top: 10px;
    }

    .section-lk-top .top .name-person {
        height: 75px;
    }

    .list-things-block {
        margin: 50px 25px 0 25px;
    }

    .some-things .information-things .left-col {
        width: 100%;
    }

    .some-things .information-things {
        display: block;
    }

    .some-things .information-things .right-col, .some-things .information-things .left-col .r-col, .untitled .r-col .r-all input {
        width: 100%;
    }

    .choise-catalog-things .tab-menu-things {
        width: 400px;
    }

    .choise-catalog-things .tab-menu-things button {
        font-size: 13px;
    }

    .untitled .r-col .all-label {
        display: block;
    }

    .choise-catalog-things .tab-content-things .content-choice-things .other-things .things .item {
        width: 33%;
    }

    .but-lk {
        margin: 20px auto;
    }

    .section-lk-top .top .name-person {
        margin-top: -3px;
    }

    .red-circle {
        top: 6px;
        right: 2px;
    }

    .section-lk-top .top .name-person {
        background-size: cover;
        background-position-x: 100%;
    }

    .section-steps-relocation .steps {
        margin: 35px auto 15px auto;
    }

    .block-add-service .item {
        height: 25px;
        margin-bottom: 7px;
    }

    .lk-rel .all-label {
        margin-bottom: 0;
    }

    .check-list .list-things .compl_foto .item {
        width: 195px;
        height: 140px;
    }

    .section-register .register {
        width: 100%;
    }

    .section-my-applications .application .right-col {
        order: 3;
        margin-bottom: 20px;
    }
    .choice-tab-list-order .tab-content .content-choice .application-descript-top .offer-action .col-right .offer {
        margin-left: -15px;
    }
    .section-my-applications .application .center-col {
        order: 2;
        width: 510px;
    }

    .section-my-applications .application .left-col {
        order: 1;
        margin-right: 20px;
    }

    .section-my-applications .application {
        display: flex;
        justify-content: center;
    }

    .application_top .all-applicat {
        display: block;
    }

    .application_top .all-applicat .bid-name {
        margin: 35px 0 0 0;
        width: 100%;
    }

    .application_top .all-applicat .action-btn {
        width: 100%;
    }

    .application_top .all-applicat .action-btn .btn-lk-m, .save_change_application {
        margin: 15px 5px 30px 0;
    }

    .choice-tab-list-order .tab-content .content-choice .application-descript-top .descript .list .name p {
        font-size: 13px;
        line-height: 14px;
    }

    .choice-tab-list-order .tab-content .content-choice .application-descript-top .descript .list {
        height: 42px;
    }

    .map_city {
        margin-left: 0;
    }

    .choice-tab-list-order .tab-menu .sentence:before {
        right: 20%;
    }

    .block_how_it_works:before {
        left: 35%;
    }

    .company_offer {
        height: 100%;
    }

    .company_offer .choice-offer {
        width: 100%;
        justify-content: flex-start;
    }

    .company_offer .choice-offer .but {
        width: 160px;
        margin: 20px 20px 5px 0;
    }

    .company_offer .request-price {
        margin-bottom: 15px;
        justify-content: center;
        width: 100%;
    }

    .company_offer .request-price button {
        margin: 20px 0 10px 0;
        text-align: center;
        display: block;
    }

    .company_offer .about-company {
        width: 50%;
    }


    .choice-tab-list-order .tab-content .content-choice .confirm_offer {
        width: 100%;
    }

    .hover_how_works .cause_work .but {
        width: 20%;
    }

    .hover_how_works .cause_work .info p {
        font-size: 14px;
        line-height: 16px;
    }

    .block-partner_information_top .center-col {
        width: 55%;
    }

    .document-partner .doc_confirmation {
        width: 45%;
    }

    .document-partner .title {
        width: 55%;
    }

    .doc-qualification .item {
        margin-left: 60px;
    }

    .descript-partner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .all_title_partner, .document-partner .title, .document-partner .doc_confirmation {
        margin: 20px 0;
    }

    .document-partner .title h2, .all_title_partner h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .document-partner .doc_confirmation p {
        font-size: 14px;
        line-height: 16px;
    }

    .document-partner .doc_confirmation p:before {
        left: -9%;
    }

    .history_company {
        padding-left: 30px;
    }

    .history_company {
        justify-content: space-between;
    }

    .history_company .item .l-col {
        width: 48%;
    }

    .history_company .item .l-col p, .history_company .item .r-col p {
        font-size: 15px;
        line-height: 18px;
    }

    .history_company .item .r-col {
        width: 45%;
    }

    .history_company {
        margin-top: 25px;
        padding-bottom: 15px;
    }

    .block-map-partners {
        margin: 30px 0 30px 10px;
    }

    .block-map-partners .contacs {
        margin: 40px 0;
        width: 45%;
    }

    .reviews-Partn .reviews-company_partner {
        width: 60%;
    }

    .reviews-Partn .all-reviews-company .rew {
        width: 36%;
        margin-right: 10px;
    }

    .reviews-Partn .all-reviews-company {
        width: 40%;
    }

    .but_rew_company {
        margin: 30px auto 40px auto;
    }

    .overall .overall-rating .title {
        margin-right: 35px;
    }

    .overall-block-company {
        margin-left: 35px;
    }

    .rev-company-comment .rew {
        border-right: inherit;
    }

    .overall .overall-rating {
        width: 33%;
    }

    .block-recommend p, .block-no-recommend p {
        padding-left: 25px;
    }

    .block-recommend p:before, .block-no-recommend p:before {
        margin-left: 0;
        left: 0;
    }

    .overall-block-company .title {
        margin-right: 10px;
    }
.overall-block-company .all-overall .item .center-col {
    width: 55%;
}
    .overall-block-company .all-overall .item .r-col{
        width: 35%;
    }
    .overall-block-company .all-overall .item .center-col .star {
        margin: 0 15px 21px 0;
    }
    .overall-block-company .all-overall .item .l-col {
        width: 75%;
    }
    .order-comment{
        display: block;
    }
    .overall .overall-rating, .overall_order_block_commit {
        width: 100%;
    }
    .overall_comment_partner .overall-rating{
        width: 35%;
        margin-right: 30px;
        border: inherit;
    }
    .overall-block-company {
        margin-left: 0;
    }
    .overall_comment_partner {
        margin-bottom: 20px;
    }
    .overall {
        margin-bottom: 20px;
    }
    .overall .overall-rating .title{
        margin-right: 0;
    }
    .overall-block-company .title {
        margin-right: 0;
    }
    .overall-block-company .commit .commit_text textarea {
        width: 100%;
        min-width: 390px;
    }
    .some-review-company .r-col .text-review-company {
        height: 190px;
    }
}

@media (max-width: 991px) {
    .red-circle {
        top: 2px;
        right: 2px;
    }

    .arrow-steps .but-btn {
        margin-top: 0;
    }

    .btn-dimensions {
        width: 105px;
    }

    .btn-black {
        margin: 5px auto 10px auto;
    }

    .pr-lk .but-lk {
        margin: 16px auto;
    }

    .other-things input {
        width: 250px;
        background: url("../img/order-relocation/tabs3/files/search_blue.svg") 220px no-repeat #ffffff;
        background-size: 6%;
    }

    .file-upload {
        width: 220px !important;
    }

    .rec-password .application .center-info .decript p {
        margin: 20px 80px;
    }

    .section-register .register .center-input .v-d input {
        width: 280px;
    }

    .section-register .register .center-input .block-profile {
        width: 580px;
    }

    .section-register .register .recourse-lk {
        margin-left: 55px;
        width: 310px;
    }

    .section-register .register .center-input .all-label {
        margin-left: 55px;
    }

    .section-register .register .center-input .block-profile .adress-pr {
        width: 280px;
    }

    .section-register .register .center-input .block-profile .adress-pr .v-d {
        width: 170px;
    }

    .section-register .register .center-input .v-d .city {
        width: 170px;
    }
    .section-register .register-provider {
        width: 100%;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col{
        flex-wrap: wrap;
    }
    /*.register-provider .step-content .content-choice .frame .wrapper-table .table-col-l, .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s, .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r{*/
        /*width: 50%;*/
        /*margin-bottom: 10px;*/
    /*}*/
    .register-provider .step-content .content-choice .frame .wrapper-table .table-col-l{
        width: 38%;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s{
        width: 23%;
    }

    .wrapper-table-row .wrapper-table-col .table-col-r{
        width: 16%;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r a{
        float: right;
    }
    .table-col-s #filename {
        width: 120px !important;
    }

    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-l{
        margin-bottom: 5px;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-condition{
        text-align: left;
    }

    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s .file-upload {
        width: 120px !important;
    }
    .section-register .register-provider .block-prov .steps .line-provider {
        width: 600px;
    }
    .register-provider .step-content .content-choice .center-block-provider {
        width: 560px;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-l {
        padding-right: 15px;
    }
    .register-provider .step-content .content-choice .all-profile {
        width: 560px;
    }
    .register-provider .step-content .content-choice .all-profile .lk-rel .r-all input, .register-provider .step-content .content-choice .all-profile .lk-rel .r-all select{
        width: 280px;
    }
    .register-provider .step-content .content-choice h4 {
        padding-left: 55px;
    }
    .register-provider .center-block-provider .center-input .block-profile {
        width: 560px;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-profile .v-d input, .register-provider .f-prof .center-block-provider .center-input .block-profile .adress-pr {
        width: 260px;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-profile .adress-pr .v-d {
        width: 170px;
    }
    .center-block-provider .v-d-index, .center-block-provider .adress-pr .index {
        width: 80px;
    }

    .register-provider .f-prof  .center-block-provider .center-input .block-profile  .adress-pr .v-d input{
        width: 170px;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-to-accept {
        width: 560px;
    }
    .wrapper-table-col:hover {
        box-shadow: inherit;
    }
    .block-partner_information_top .right-col {
        margin-left: 15px;
    }
    .overall_order_block_commit{
        margin-top: 15px;
    }
    .but_comment-partner {
        width: 160px;
    }
    .section-lk-top .top .name-person .all h4 {
        font-size: 15px;
        line-height: 16px;
        margin: 0 70px 5px 25px;
    }
    .confirm_offer .right-col .confirmed-proposal p:before {
        margin-left: -35px;
        left: inherit;
    }
    .confirm_offer .right-col .confirmed-proposal p {
        position: relative;
        margin: 10px 20px 10px 35px !important;
    }
    .section-lk-top .top .name-person .all p{
        font-size: 12px;
        line-height: 14px;
    }
    .all_comment .check-star{
        margin-bottom: 15px;
    }
    .popup-clider-foto {
        width: 725px;
    }
    #slider .slides img, #slider_things .slides img, #slider_things_downloaded .slides img {
        height: 310px !important;
        object-fit: cover;
    }
    #carousel, #carousel_things, #carousel_things_downloaded {
        padding: 0 45px !important;
        margin: 0 30px !important;
    }
    #slider,  #slider_things, #slider_things_downloaded {
        padding: 10px 45px 20px 45px !important;
        margin: 0 30px !important;
    }
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0 !important;
    }
    .flex-direction-nav a.flex-prev:before {
        right: 28px;
    }
    .flex-direction-nav .flex-next{
        opacity: 1;
        right: 0 !important;
    }
    .flex-direction-nav a.flex-next:before {
        left: 28px;
    }
    .flex-direction-nav a {
        margin: 10px 0 0 !important;
    }
    .some-review-company .r-col {
        padding-bottom: 60px;
    }
    .section-my-applications .application .left-col {
        width: 510px;
        height: 250px;
         margin-right: 0;
        margin-bottom: 20px;
    }
    .section-my-applications .application .right-col {
        width: 510px;
        height: auto;
    }
    .section-my-applications .application .right-col .suggestion {
        height: auto;
    }
    .section-my-applications .application .right-col .suggestion {
        margin-top: 20px;
    }
    .all_block_company_partner {
        width: 74%;
    }
    .all_block_company_partner .down_company_partner_all .reviews-company-prop {
        width: 100%;
    }
    .all_block_company_partner .down_company_partner_all {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .company_offer .about-company {
        width: 100%;
    }
    .company_offer{
        align-items: flex-start;
    }
    .all_block_company_partner .about-company{
        position: inherit;
        margin-bottom: 20px;
    }
    .company_offer .price-company p{
        margin: 0;
    }
    .block-sort {
        margin-left: 90px;
    }
    .pagination-list {
        margin-left: 90px;
    }
    .section-my-applications .application .right-col .suggestion{
        min-height:50px;
    }
.client_register_center{
    padding-bottom: 35px;
}
    .some-things .information-things .left-col .r-col .counter .down, .some-things .information-things .left-col .r-col .counter .up {
        width: 25px;
        height: 25px;
    }
    .some-things .information-things .left-col .r-col .counter {
        width: 90px;
        height: 25px;
    }
    label.error{
        width: 260px;
    }
    .val_adress #index-error {
        width: 75px !important;
    }
    #validate-status {
        margin-left: 292px;
    }
    .section-register .register .center-input .block-to-accept {
        display: flex;
        width: 670px;
        margin: 15px auto 0 auto;
    }
    .client_register_center #validate-status {
        margin-bottom: -5px;
        margin-left: 358px;
    }

    }

@media (max-width: 767px) {
    .client_register_center #validate-status {
        margin-left: 0;
    }
    .block-sort {
        margin-left: 0;
    }
    .pagination-list {
        margin-left: 0;
    }
    .section-my-applications .application .left-col {
        width: 255px;
        height: 170px;
    }
    .some-review-company .r-col .text-review-company {
        height: 185px;
    }
    .some-review-company .r-col a {
        margin-left: 15px;
    }
    .but_comment-partner {
        width: 190px;
    }
    .register-provider .f-prof {
        width: 100%;
    }
    .section-application .application {
        width: 100%;
        background: #fff;
        margin: 100px auto 40px auto;
    }

    .btn-dimensions {
        width: 130px;
    }

    .all-demens {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .btn-dimensions {
        margin: 0 auto 20px auto;
    }

    .all-demens .not-pad {
        width: 130px;
    }

    .section-lk-top .top {
        height: 100%;
    }

    .section-lk-top .top .name-person {
        margin: 20px 20px 0 20px;
    }

    .but-lk {
        margin: 20px auto;
        text-align: center;
    }

    .section-lk-top .top {
        border: inherit;
    }

    .section-lk-top .top .name-person {
        background: #26415b;
    }

    .not-pad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .red-circle {
        right: 0;
    }

    .red-circle {
        top: -3px;
    }

    .lk-parner {
        padding: 0;
        margin: 20px auto;
    }

    .step-content .content-choice .all-profile {
        display: block;
    }

    .step-content .content-choice {
        width: 100%;
    }

    .step-content .content-choice .all-profile {
        width: 100%;
    }

    .step-content .content-choice h4 {
        width: 315px;
        margin: 5px auto;
        padding: 10px 20px;
    }

    .order-relocation {
        width: 80%;
        margin: 60px auto 0 auto;
        height: 90px;
    }

    .step-content .content-choice .geography-block {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .step-content .content-choice .conditions-block h4 {
        width: 100%;
    }

    .checkbox {
        margin-top: 10px;
    }

    .order-lk {
        width: 315px;
        margin: 0 auto;
    }

    .conditions-block .order-lk {
        width: 100%;
    }

    .col-three .lk-rel {
        width: 100%;
    }

    .downloading-files .list .item {
        display: block;
        height: 100%;
    }

    .downloading-files .list .item .left-col {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-bottom: 1px solid #d1d1d1;
        border-top: 1px solid #d1d1d1;
    }

    .downloading-files .list {
        border: inherit;
    }

    .downloading-files .list .item .all-coll .center-col .info {
        margin: 15px 20px;
        text-align: center;
    }

    .downloading-files .right-col {
        margin: 0 auto 30px auto;
    }

    .list-things-bt button, .list-things-bt {
        margin: 0 auto;
    }

    .section-lk-top .p-l {
        padding-left: 0 !important;
    }

    .step-content .content-choice .list-things-block h4 {
        width: 100%;
    }

    .btn-dimensions {
        position: relative;
    }

    .my_application {
        float: inherit;
    }

    .downloading-files .right-col {
        margin: 0 auto 20px auto;
    }

    .section-login .entrance-login {
        width: 100%;
    }

    .section-login .entrance-login h2 {
        padding: 15px 20px;
    }

    .section-login .entrance-login .center-info p {
        margin: 15px auto 0;
    }

    .section-login .entrance-login .center-info .block_no_registration {
        padding: 20px 0;
    }

    .section-register .register .center-input .block-profile {
        width: 100%;
    }

    .section-register .register .center-input .v-d, .section-register .register .center-input .block-profile .adress-pr {
        width: 340px;
    }

    .section-register .register .center-input .v-d input {
        width: 340px;
        margin-top: 15px;
    }

    .section-register .register .recourse-lk, .section-register .register .center-input .all-label {
        margin-left: 0;
    }

    .section-register .register .center-input .block-profile .adress-pr .v-d {
        width: 230px;
    }

    .section-register .register .center-input .v-d .city {
        width: 225px;
        margin-top: 0;
    }

    .section-register .register .center-input .block-to-accept {
        display: block;
        width: 100%;
        margin: 15px auto 0 auto;
    }

    .section-register .register .center-input .block-to-accept .left-col, .section-register .register .center-input .block-to-accept .right-col {
        width: 100%;
        margin-right: 0;
    }
    .section-register .register .center-input .block-to-accept .left-col p
    {
        text-align: left;
    }
    .section-register .register .center-input .block-to-accept .left-col{
        margin-bottom: 5px;
    }
    .register-provider .step-content .content-choice .center-block-provider {
        width: 100%;
    }
    .register-provider .step-content .content-choice .all-profile {
        width: 100%;
    }
    .center-block-provider .lk-rel {
        margin: 10px 0 0 25px;
    }
    .register-provider .step-content .content-choice .all-profile .r-all .border-foto, .register-provider .step-content .content-choice .all-profile .r-all .all-label {
        margin-left: 15px;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .table-col-l, .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s, .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r{
        width: 100%;
    }
    /*.register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r, .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-l {*/
        /*text-align: left;*/
    /*}*/
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-l{
        margin: 10px 0 0 0;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-condition{
        margin: 0 0 10px 0;
    }
    .register-provider .step-content .content-choice .register_document{
        margin-left: 15px;
    }
    .register-provider .step-content .content-choice .valid_formats_pr{
        margin-left: 25px;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s{
        margin-bottom: 0;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r{
        margin: 0 0 10px auto;
        text-align: center;
    }
    .register-provider .center-block-provider .center-input .block-profile {
        width: 100%;
    }
    .application_top .right-col{
        float: inherit;
    }
    .application_top .right-col .confirmed-proposal, .application_canceled{
        position: relative;
        top: inherit;
        transform: inherit;
        right: inherit;
    }
    .application_top .right-col .confirmed-proposal p{
        margin-left: 30px;
    }
    .application_top .right-col .confirmed-proposal:before,  .application_canceled:before{
        left: 0;
    }
    .application_top .right-col{
        height: 50px;
    }
    .map_city {
        margin-left: 15px;
    }
    .choice-tab-list-order .tab-content .content-choice .application-descript-top .descript .list {
        height: 100%;
    }
    .history_company .item {
        width: 100%;
    }
    .all_comment_partner .center-col .company_name{
        display: block;
    }
    .block-partner_information_top .center-col {
        width: 45%;
    }
    .overall{
        display: block;
    }
    .overall .overall-rating{
        border-right: inherit;
        width: 100%;
    }
    .block-recommend p:before, .block-no-recommend p:before {
        margin-left: 0;
        left: 0;
    }
    .block-no-recommend {
        margin-top: 11px;
        margin-bottom: 15px;
    }
    .overall-block-company {
        margin-left: 0;
        width: 100%;
    }
    .all_comment_partner .center-col {
        width: 70%;
    }
    .all_comment_partner  .center-col .company_name .name {
        width: 100%;
    }
    .reviews-Partn .reviews-company_partner {
        width: 100%;
    }
    .reviews-Partn .all-reviews-company .rew, .reviews-Partn .all-reviews-company .percent{
        width: 50%;
    }
    .reviews-Partn h2 {
        padding: 5px 15px 10px 5px;
    }
    .some-review-company .l-col .block-info{
        padding-left: 15px;
    }
    .popup-clider-foto {
        width: 465px;
    }
    #slider .slides img, #slider_things .slides img, #slider_things_downloaded  .slides img{
        height: 200px !important;
        object-fit: cover;
    }
    .flex-direction-nav a {
        margin: -15px 0 0 !important;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-l{
        padding-right: 0;
        margin: 10px auto;
        text-align: center;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s .file-upload {
        width: 160px !important;
        margin: 0 auto;
    }
    .table-col-s #filename {
        width: auto !important;
        margin: 0 auto;
        height: 20px !important;
        text-align: center;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-r a{
        float: inherit;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-to-accept .left-col, .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col {
        width: 100%;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-to-accept {
        width: 100%;
        flex-wrap: wrap;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-to-accept .left-col p {
        text-align: center;
    }
    .register-provider .center-block-provider .recourse-lk {
        margin: 0 auto;
    }
    .register-provider .step-content .content-choice h4{
        margin: 5px auto;
    }
    .center-block-provider .lk-rel {
        margin: 10px auto;
    }
    .register-provider .step-content .content-choice .all-profile .r-all .border-foto, .register-provider .step-content .content-choice .all-profile .r-all .all-label {
        margin: 0 auto;
    }
    .register-provider .step-content .content-choice .all-profile .r-all{
        margin: 0 auto;
        text-align: center;
    }
    .section-register .register .center-input .v-d .mob_style_validate{
        margin-top: 25px;
    }

}

@media (max-width: 640px) {

    .register-provider .step-content .content-choice .all-profile .lk-rel .r-all input, .register-provider .step-content .content-choice .all-profile .lk-rel .r-all select{
        width: 260px;
    }
    .form-group textarea {
        min-width: 220px;
    }

    .form-group .all-profile input, .r-all select, .lk-rel select {
        margin-top: 10px;
    }

    .choise-catalog-things {
        display: block;
    }

    .arrow-steps .btnNext {
        margin-bottom: 0 !important;
    }

    .r-all input {
        margin-top: 0;
    }

    .choise-catalog-things .tab-menu-things {
        width: 100%;

    }

    .fileDownload input {
        text-overflow: ellipsis;
        width: 50% !important;
        padding-left: 0;
    }

    .fileDownload .del-file {
        top: 3px;
        right: 0;
        width: 20%;
    }

    .choise-catalog-things .tab-content-things {
        width: 100%;
        margin-top: 30px;
    }

    .some-things .delete-block .delete-things {
        margin-bottom: 0;
    }

    .some-things .information-things .left-col .l-col {
        width: 50%;
    }

    .some-things .information-things .left-col .l-col {
        height: auto;
    }

    .some-things .information-things .right-col {
        width: 100%;
    }

    .some-things .information-things .left-col .l-col img {
        max-width: 50%;
    }

    .all-foto-block .add-foto .butt {
        width: 30%;
    }

    .section-lk-top .top .name-person {
        height: 85px;
    }

    .section-application .application h2, .section-application .application .center-info h5 {
        padding: 25px 50px;
    }

    .section-application .application .center-info .decript p {
        margin-right: 30px;
        margin-left: 30px;
    }

    .choise-catalog-things .tab-content-things .content-choice-things .other-things .things .item {
        width: 50%;
    }

    .file-block {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .del-file {
        position: inherit;
    }

    .fileDownload {
        position: relative;
        display: flex;
        justify-content: center;
    }

    #myTab .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .center-input {
        text-align: center;
    }

    .section-lk-top .p-l {
        padding-left: 0 !important;
    }

    .form-group .add-serv-descript textarea {
        margin-bottom: 30px !important;
    }

    .col-three .lk-rel label {
        margin-top: 0;
    }

    .r-all select, .col-three select {
        margin-bottom: 0 !important;
    }

    .form-group .r-all input {
        margin-bottom: 0 !important;
    }

    .step-content .content-choice .list-things-block .parametr_value, .step-content .content-choice .list-things-block #parametr_specify_other {
        width: 18%;
    }

    .some-things .information-things .right-col textarea {
        min-width: 230px;
    }

    .some-things .information-things .left-col .r-col h5 {
        margin: 15px 0 10px 0;
    }

    .some-things .delete-block .delete-things {
        margin-top: 15px;
    }

    .nameThings h3 {
        margin: 15px 0 0 0;
    }
    .section-register .register .center-input .block-to-accept .left-col p{
        text-align: center;
    }
    .section-register .register .center-input .v-d-index input{
        margin-top: 10px;
    }
    .section-register .register .center-input .v-d .city{
        margin-top: 15px;
    }


    .section-register .register-provider .block-prov .steps .line-provider {
        width: 380px;
    }
    .foto-prov .r-all{
        overflow: hidden;
    }
    .register-provider .step-content .content-choice .all-profile .r-all .border-foto{
        margin-top: 25px;
    }
    .register-provider .step-content .content-choice .foto-prov{
        margin-bottom: 0;
    }
    .register-provider .step-content .content-choice .register_document {
        margin-left: 15px;
        margin-top: 10px;
        padding-top: 0;
    }
    .section-my-applications .application .right-col{
        order: 1;
        margin-bottom: 20px;
    }
    .section-my-applications .application .center-col{
        order: 3;
    }
    .section-my-applications .application .left-col{
        order: 2;
    }
    .section-my-applications .application .right-col{
        margin-right: 0;
    }
    #js_сancel_application, #js_reason_date, #js_confirm_offer, #js_come_contact, #js_refuse_offer {
        width: 98%;
    }
    .company_offer .about-company {
        width: 100%;
    }
    .block_how_it_works:before {
        left: 28%;
    }
    .company_offer .choice-offer {
        width: 77%;
    }
    .company_offer .request-price {
        width: 75%;
    }
    .choice-tab-list-order .tab-content .content-choice .confirm_offer {
        width: 70%;
    }
    .block-partner_information_top {
        flex-wrap: wrap;
    }
    .block-partner_information_top .center-col {
        width: 70%;
        border-right:inherit;
    }
    .document-partner {
        display: block;
    }
    .document-partner .title, .document-partner .doc_confirmation {
        width: 100%;
    }
    .document-partner .doc_confirmation p{
        text-align: left;
    }
    .doc-qualification .item {
        width: 35%;
    }
    .history_company .item .l-col {
        width: 45%;
        margin-right: 15px;
    }
    .block-map-partners{
        display: block;
    }
    .block-map-partners .contacs {
        margin: 40px 0;
        width: 100%;
    }
    .block-map-partners #map_adress_partner_company {
        height: 400px;
        width: 100%;
    }
    .reviews-Partn, .reviews-Partn .all-reviews-company {
        display: block;
    }
    .reviews-Partn .all-reviews-company {
        width: 100%;
        margin-left: 5px;
    }
    .reviews-Partn .all-reviews-company .rew .star {
        margin: 0 0 12px 0;
    }
    .reviews-Partn .all-reviews-company .percent {
        width: 50%;
        margin: 10px 0 10px 0;
        padding-bottom: 10px;
    }
    .reviews-Partn .all-reviews-company .rew p{
        border-right: inherit;
    }
    .some-review-company{
        display: block;
    }
    .some-review-company .l-col {
        width: 100%;
    }
    .some-review-company .l-col .block-info .name h5 {
        margin-top: 0;
        padding-top: 20px;
    }
    .some-review-company .r-col .text-review-company:before{
        display: none;
    }
    .some-review-company .r-col .text-review-company {
        margin-top: 10px;
        padding-left: 15px;
    }
    .some-review-company .r-col .text-review-company p {
        font-size: 13px;
        line-height: 16px;
    }
    .some-review-company .r-col .text-review-company {
        padding-right: 10px;
}
    .some-review-company .l-col .block-info .more-info-company {
        padding-bottom: 10px;
    }
    .some-review-company .r-col {
        width: 100%;
    }
    .block-recommend p:before, .block-no-recommend p:before {
        margin-left: 0;
        left: 0;
    }
    .some-review-company .r-col .text-review-company {
        margin-bottom: 15px;
    }
    .order-comment, .recommend-company {
        margin-left: 25px;
        margin-right: 25px;
    }
    .overall-block-company .commit .commit_text textarea {
        width: 100%;
        min-width: 370px;
        height: 80px;
    }
    .some-review-company .r-col:before {
        display: none;
    }
    .block-partner_information_top .right-col{
        /*margin-left: 0;*/
    }
    .overall-block-company .all-overall .item {
         display: block;
        margin-bottom: 10px;
    }
    .overall-block-company .all-overall .item .center-col .star {
        margin: 0 15px 5px 0;
    }
    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block{
        display: block;
    }
    .section-my-applications .application .right-col .suggestion{
        overflow: inherit;
    }
    .hover_how_works .cause_work{
        display: block;
        margin-left: 20px;
    }
    .hover_how_works .cause_work .info p {
        margin-right: 10px;
    }
    .hover_how_works .cause_work .info{
        width: 95%;
        margin-left: 0;
    }
    .hover_how_works p {
        font-size: 14px;
        line-height: 16px;
        margin: 40px 20px 40px 20px;
    }
    .hover_how_works .cause_work .info p {
        font-size: 14px;
        line-height: 16px;
    }
    .hover_how_works .cause_work .but button{
        margin-bottom: 10px;
    }
    .hover_how_works .wish-success {
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col{
        border: inherit;
    }
    .choice-tab-list-order .tab-content .content-choice .confirm_offer .but {
        margin: 0;
    }
    .confirm_offer .right-col .confirmed-proposal p {
        position: relative;
        margin: 10px 20px 10px 35px !important;
    }
    .list_all_things .list-things .item .r-col {
        width: 100%;
    }
    .choice-tab-list-order .tab-content .content-choice .conditions_moving .title{
        margin: 0;
    }
    .popup-clider-foto {
        width: 465px;
    }
    #slider .slides img, #slider_things .slides img, #slider_things_downloaded .slides img {
        height: 200px !important;
        object-fit: cover;
    }
    .flex-direction-nav a {
        margin: -15px 0 0 !important;
    }
    .some-review-company .r-col {
        padding-bottom: 25px;
    }
    .section-my-applications .application .right-col {
        order: 3;
    }
    .section-my-applications .application .center-col{
        order: 2;
    }
    #js_reason_date .answer-title:before{
        display: none;
    }
    .all_server_things .download_file {
        position: absolute;
        top: 50%;
        margin-left: 75px;
        transform: translateY(-50%);
        margin-top: 0;
    }
    .completed_things .list-things, .completed_things .all-download-file {
        position: relative;
    }
    .completed_things .list-things .compl_foto {
        justify-content: center;
    }
    .all_server_things{
        margin-left: 0;
    }
    .all_block_company_partner {
        width: 100%;
    }
    .company_offer .about-company {
        height: 100%;
        text-align: center;
    }
    .all_block_company_partner .about-company .company-prop .r-col {
        width: 100%;
    }
    .company_offer .about-company .company-prop {
        display: block;
        margin-bottom: 0;
    }
    .company_offer .foto-company {
        margin: 0 auto;
    }
    .reviews-company-prop .star-company {
        margin: 0 auto;
        text-align: center;
        width: 90px;
    }
    .all_block_company_partner .down_company_partner_all .reviews-company-prop .review-prop {
        justify-content: center;
    }
    .company_offer .price-company {
        width: 100%;
    }
    .company_offer .choice-offer {
        width: 100%;
        justify-content: space-around;
    }
    .company_offer .choice-offer .but {
        width: 160px;
        margin: 20px 0;
    }
    .company_offer .request-price button {
        margin: 20px auto;
        justify-content: center;
    }
    .choice-tab-list-order .tab-content .content-choice .confirm_offer {
        width: 100%;
        text-align: center;
}
    .choice-tab-list-order .tab-content .content-choice .confirm_offer .but {
        margin: 0 auto;
    }
    .company_offer .request-price .request-sent{
        text-align: center;
    }
    .choice-tab-list-order .tab-content .content-choice .confirm_offer p {
        font-size: 14px;
        line-height: 16px;
        margin: 10px auto;
    }
    .table-col-s  .register_doc_provider label.error {
        margin-top: 21px !important;
        margin-left: 0;
        text-align: center;
        width: 180px;

    }
    .register-provider .center-block-provider .foto-provider-mobile{
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .all_block_company_partner {
        width: 100%;
    }

    .company_offer .about-company {
        height: 100%;
        text-align: center;
    }

    .all_block_company_partner .about-company .company-prop .r-col {
        width: 100%;
    }

    .company_offer .about-company .company-prop {
        display: block;
        margin-bottom: 0;
    }

    .other-things input {
        width: 180px;
        background: url("../img/order-relocation/tabs3/files/search_blue.svg") 150px no-repeat #ffffff;
        background-size: 7%;
        margin-left: 8px;
    }

    .file-upload {
        width: 180px !important;
        font-size: 12px;
        line-height: 14px;
    }

    .check-list .list-things .compl_foto .item {
        margin: 0 auto 20px auto;
    }

    .cont-things-form {
        display: block;
    }

    .cont-things-form .item {
        margin-top: 0
    }

    .cont-things-form .item:last-child {
        margin-bottom: 20px;
    }

    .cont-things-form .item:first-child {
        margin-top: 20px;
    }

    .file-upload label {
        margin-top: 15px;
    }

    .section-lk-top .top .name-person .all h4 {
        font-size: 15px;
        margin: 0 70px 5px 15px;

    }

    .file-upload input {
        font-size: 12px;
        line-height: 14px;
    }

    .section-lk-top .top .name-person .all p {
        margin: 0 100px 0 15px;
    }
    .cont-things-form .item {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .content-news .news h2 {
        font-size: 18px;
        line-height: 18px;
        margin: 20px auto 20px auto;
        padding: 15px;
    }

    .content-news .news {
        margin: 0;
    }

    .video-news {
        width: 100%;
        height: 175px;
        margin-bottom: 0;
    }

    .content-news {
        margin-bottom: 30px;
    }

    .red-circle {
        top: -3px;
    }

    .section-ordering-services .order {
        width: 85%;
        margin: 30px auto 0 auto;
    }

    .section-ordering-services .order h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .section-ordering-services .order p {
        font-size: 12px;
        line-height: 16px;
    }

    .section-choce-service .choce-service .item {
        width: 120px;
        height: 140px;
        margin: 15px 5px;
    }

    .section-choce-service .choce-service .item .pict {
        width: 60%;
        height: 75px;
    }

    .order-relocation {
        width: 80%;
        margin: 35px auto 0 auto;
        height: 70px;
    }

    .order-relocation h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .step-content .content-choice p {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .lk-rel {
        width: 260px;
        margin: 0 auto;
    }

    .step-content .content-choice h4 {
        width: 260px;
    }

    .step-content .content-choice h4 {
        padding: 10px 15px;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    select {
        width: 260px;
    }

    .order-lk {
        width: 260px;
        margin: 0 auto;
    }

    .step-content .content-choice .conditions-block {
        margin-left: 0;
        margin-right: 0;
    }

    .block-add-service .item {
        width: 100%;
    }

    .step-content .content-choice .additional-services h4 {
        margin-right: 0;
    }

    .arrow-steps {
        display: block;
    }

    .add-serv-descript textarea {
        width: 100% !important;
    }

    .checkbox {
        margin-top: 10px;
    }

    .conditions-block .order-lk {
        width: 260px;
    }

    .list-things-block {
        margin: 20px 20px 0 20px;
    }

    .downloading-files .file_down {
        margin: 0;
    }

    .downloading-files .list .item .left-col {
        width: 85px;
        height: 85px;
    }

    .list-things-bt button, .list-things-bt {
        width: 180px;
    }

    .list-things-bt button {
        font-size: 12px;
        line-height: 14px;
    }

    .some-things h3 {
        font-size: 14px;
        line-height: 16px;
        margin-left: 15px;
    }

    .create-things {
        margin: 0 10px;
    }

    .some-things .information-things .left-col .l-col {
        margin-right: 10px;
        width: 80px;
        height: 75px;
    }

    .some-things .information-things .left-col .l-col {
        width: 80px;
    }

    .some-things .information-things .left-col .r-col .counter {
        margin-bottom: 5px;
    }

    .all-foto-block .add-foto .butt {
        width: 60%;
    }

    .all-foto-block .arhive-foto .foto-block {
        justify-content: space-around;
    }

    .choise-catalog-things .tab-content-things .content-choice-things .other-things .things .item .svg {
        width: 35px;
        height: 35px;
    }

    .some-things .line_shadow {
        height: 2px;
        background: inherit;
    }

    .check-list .list-things .item {
        display: block;
    }

    .check-list .list-things .item .l-col {
        margin: 0 auto;
    }

    .check-list .list-things .item .center-col, .check-list .list-things .item .r-col {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .some-things .information-things .left-col {
        display: block;
    }

    .foto-block {
        justify-content: center;
    }

    .file-upload {
        position: relative;
    }

    .form-group .additional-services input, .form-group .block-add-service input {
        width: 18px !important;
        height: 18px !important;
    }

    .section-application .application h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .section-application .application h2, .section-application .application .center-info h5 {
        padding: 20px;
    }

    .section-application .application .center-info h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .lk-rel .all-label {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .step-content .content-choice .additional-services {
        margin-top: 25px;
    }

    .step-content .content-choice .conditions-block h4 {
        margin-top: 25px;
    }

    .arrow-steps .btnNext {
        margin-bottom: 0 !important;
    }

    .step-content .content-choice .conditions-block .additional-services h4 {
        margin-top: 0;
        width: auto;
        display: block;
        margin-left: 0;
    }

    .some-things .information-things .left-col .r-col .specify-dimensions {
        width: 220px;
    }

    .section-steps-relocation .steps {
        margin: 20px auto 0 auto;
    }

    .section-application .application .center-info .decript p {
        font-size: 12px;
        line-height: 16px;
        margin-right: 15px;
        margin-left: 15px;

    }

    .downloading-files {
        margin-bottom: 0;
    }

    .arrow-steps .choice_paragraph {
        margin-bottom: 0;
    }

    .but-btn.add_things_js {
        margin: 10px auto 30px auto;
    }

    .section-login .entrance-login .center-info .remember-reestablish {
        display: block;
        width: 220px;
    }

    .section-login .entrance-login .center-info .remember-reestablish .item {
        width: 100%;
        overflow: hidden;
    }

    .section-login .entrance-login, .section-register .register {
        margin: 100px auto 30px auto;
    }

    .remember-reestablish .checkbox input {
        width: 18px !important;
        height: 18px !important;
    }

    .section-login .entrance-login .center-info .reestablish a {
        float: left;
    }

    .section-login .entrance-login .center-info .remember-reestablish .remember p {
        margin-bottom: 0 !important;
    }

    .section-login .entrance-login .center-info p {
        font-size: 13px;
    }

    .section-login .entrance-login .center-info .block_no_registration a:before {
        display: none;
    }

    .section-login .entrance-login .center-info .block_no_registration a {
        text-decoration: underline;
    }

    .section-register .register h2 {
        font-size: 20px;
        line-height: 25px;
        padding: 15px;
    }

    .section-register .register p {
        margin: 20px;
    }

    .section-register .register .recourse-lk {
        width: 100%;
    }

    .section-register .register .center-input .block-profile .adress-pr .v-d, .v-d-index, .section-register .register .center-input .v-d, .section-register .register .center-input .block-profile .adress-pr, .section-register .register .center-input .block-to-accept {
        width: 100%;
        margin-bottom: 10px;
    }
    .section-register .register .center-input .v-d-index input {
        margin-top: 5px;
    }
    .section-register .register .center-input .v-d-index input, .section-register .register .center-input .v-d .city {
        width: 100% !important;
        margin-bottom: 0;
    }
    .section-register .register .center-input .v-d .city {
        margin-top: 5px;
    }
    .section-register .register .recourse-lk, .section-register .register .center-input .all-label {
        margin-left: 15px;
    }

    .register-provider .step-content .content-choice h4 {
        padding-left: 10px;
        margin-left: 10px;
        width: 94%;
        margin-bottom: 15px;
    }

    .center-block-provider .lk-rel {
        margin: 10px 0 0 0;
    }

    .sk_content .clasification-descript {
        width: 94%;
        margin: 10px 20px 10px 10px;
    }

    .section-register .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .register-provider .step-content .content-choice p {
        padding-top: 20px;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-profile .v-d {
        width: 100%;
    }

    .section-register .register-provider .block-prov .steps .line-provider {
        display: none;
    }

    .section-register .register-provider .block-prov .steps .step-menu button {
        width: 35px;
        height: 35px;

    }

    .section-register .register-provider .block-prov .steps .step-menu {
        display: flex;
        width: 140px;
    }

    #js_map {
        width: 95%;
        height: 100%;
        padding: 35px 10px;
    }

    #js_map .fancybox-close-small:after {
        background-size: 60%;
        top: 0px;
    }

    .section-register .register-provider .block-prov h2 {
        font-size: 20px;
        line-height: 25px;
        padding: 20px 15px;
    }

    .section-register .register-provider .block-prov {
        padding-bottom: 5px;
    }

    .register-provider .f-prof {
        width: 100%;
    }

    .register-provider .step-content .content-choice .foto-prov {
    }

    .table-col-s .file-upload label {
        margin-top: 5px;
    }

    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s .file-upload {
        width: 160px !important;
        margin: 0 auto;
    }

    .section-register .register-provider {
        margin: 100px auto 40px auto;
    }

    .register-provider .step-content {
        margin-bottom: 0;
    }

    .center-block-provider .all-profile .lk-rel, .center-block-provider .all-profile .lk-rel input {
        width: 100%;
    }

    .register-provider .step-content .content-choice .all-profile .lk-rel .r-all input, .register-provider .step-content .content-choice .all-profile .lk-rel .r-all select {
        width: 100% !important;
        margin-top: 5px !important;
    }

    .register-butProv {
        display: block;
    }
    .register-provider .step-content .content-choice .frame .wrapper-table .wrapper-table-row .wrapper-table-col .table-col-s{
        overflow: visible;
    }
    .register-provider .step-content .content-choice .center-block-provider {
        width: 94%;
    }

    .register-provider .center-block-provider .recourse-lk {
        margin-left: 10px;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-profile .v-d input, .register-provider .f-prof .center-block-provider .center-input .block-profile .adress-pr {
        width: 100% !important;
        margin-top: 5px;
    }
    .center-block-provider .v-d-index, .register-provider .f-prof .center-block-provider .center-input .block-profile .v-d{
        margin-bottom: 10px;
    }
    .register-provider .f-prof .center-block-provider .prov-accept {
        display: block;
        margin-left: 15px;
    }

    .register-provider .f-prof .center-block-provider .center-input .prov-accept .left-col p {
        text-align: center;
    }
    #validate-status {
        margin: -20px auto 0 auto;
    }
    .register-provider .f-prof .center-block-provider .center-input .provider-foto-company {
        margin-top: 35px;
    }

    .center-block-provider .v-d-index, .center-block-provider .adress-pr .index, .register-provider .f-prof .center-block-provider .center-input .block-profile .adress-pr .v-d {
        width: 100%;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-profile .adress-pr .index {
        width: 100% !important;
        margin-top: 5px;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-to-accept {
        display: block;
    }

    .register-provider .step-content .content-choice .all-profile .r-all .border-foto {
        margin-left: 0;
    }

    .register-provider .step-content .content-choice .all-profile .r-all .all-label {
        margin-left: 15px;
    }

    .register-provider .center-block-provider .recourse-lk .item p {
        margin-left: 0;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-to-accept {
        width: 100%;
    }

    .register-provider .center-block-provider .all-label {
        margin-left: 15px;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-to-accept .left-col, .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col {
        width: 100%;
        text-align: center;
    }

    .prov-accept .left-col {
        margin-bottom: 5px;
    }

    .r-all input[name=sites_company] {
        margin-top: 0 !important;
    }

    .section-my-applications .application .center-col .descript .list {
        display: block;
    }

    .section-my-applications .application .center-col .descript .list .name p {
        font-size: 14px;
        line-height: 16px;
    }

    .section-lk-top .top .name-person .all {
        width: 250px;
    }

    .section-lk-top .top .name-person .all h4 {
        font-size: 15px;
        margin: 0 15px 5px 15px;
        word-break: break-all;
    }

    .section-lk-top .top .name-person .all p {
        margin: 0 15px 0 15px;
    }

    .block-sort {
        display: block;
        height: 100%;
        margin-left: 0;
    }

    .block-sort .name-block p {
        margin: 0;
    }

    .section-my-applications .application .right-col {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }

    .section-my-applications .application .right-col .suggestion p {
        margin: 5px 23px 20px 25px;
        padding-bottom: 10px;
    }

    .section-my-applications .application .right-col .suggestion a {
        position: inherit;
        padding-top: 10px;
        display: inline-block;
    }

    .section-my-applications .application .right-col .suggestion {
        height: 100%;
    }

    .section-my-applications .application .right-col .suggestion {
        margin-top: 30px;
    }

    .section-my-applications .application .left-col {
        margin: 0 auto 20px auto;
    }

    .section-my-applications .application .center-col {
        margin-top: 20px;
    }

    .section-my-applications .application .center-col .descript .list .name, .section-my-applications .application .center-col .descript .list .text {
        width: 100%;
    }

    #js_confirm_offer p, #js_сancel_application p, #js_refuse_offer p {
        font-size: 14px;
        line-height: 16px;
        margin: 25px 15px;
    }

    #js_confirm_offer p:before, #js_сancel_application p:before, #js_refuse_offer p:before {
        width: 90px;
        height: 120%;
        margin-top: -10px;
    }

    #js_confirm_offer .action-btn, #js_сancel_application .action-btn {
        margin: 0;
    }

    #js_reason_date .answer-title p, #js_come_contact .answer-title p {
        font-size: 12px;
        line-height: 14px;
        margin: 10px;
    }

    #js_reason_date .answer-title .backg:before, #js_come_contact .answer-title .backg:before {
        width: 90px;
        height: 120%;
        margin-top: -10px;
    }

    #js_come_contact .backg span {
        font-size: 13px;
        line-height: 16px;
    }

    .choice-tab-list-order .tab-menu {
        display: block;
    }

    .choice-tab-list-order .tab-menu button {
        width: 100%;
        margin-bottom: 20px;
    }

    .choice-tab-list-order .tab-menu {
        padding-bottom: 0;
    }

    .choice-tab-list-order .tab-content .content-choice .application-descript-top .col-right .bid-name, .choice-tab-list-order .tab-content .content-choice .application-descript-top .col-right .notification {
        margin-left: 0;
    }

    .choice-tab-list-order .tab-content .content-choice .application-descript-top .col-right .notification p {
        font-size: 13px;
        line-height: 16px;
    }

    .offer-action .offer .action-btn .bt-white button {
        font-size: 12px;
    }

    .choice-tab-list-order .tab-content .content-choice h4 {
        font-size: 14px;
        line-height: 16px;
    }

    .list_all_things h2 {
        font-size: 12px;
        line-height: 14px;
    }

    .choice-tab-list-order .tab-content .content-choice .application-descript-top .descript .list .name p, .choice-tab-list-order .tab-content .content-choice .application-descript-top .descript .list .text p {
        margin: 0 0 10px 0;
    }

    .action-btn .bt-white a {
        font-size: 12px;
        line-height: 14px;
    }

    .executor_definition {
        margin: 10px;
    }

    .block_how_it_works:before {
        left: 16%;
    }

    .company_offer {
        width: 100%;
        display: block;
    }

    .company_offer .about-company {
        width: 100%;
    }

    .company_offer .about-company .reviews-company-prop {
        position: relative;
    }

    .company_offer .about-company {
        height: 100%;
    }

    .company_offer .about-company .company-prop {
        margin-bottom: 15px;
    }

    .company_offer .price-company {
        width: 100%;
    }

    .company_offer .choice-offer {
        width: 100%;
    }

    .company_offer .request-price {
        width: 100%;
    }

    .company_offer .request-price button, .choice-tab-list-order .tab-content .content-choice .confirm_offer .but {
        width: 210px;
    }

    .company_offer .choice-offer .but {
        width: 140px;
        margin: 20px 0;
    }

    .choice-tab-list-order .tab-content .content-choice .confirm_offer {
        width: 100%;
    }

    .choice-tab-list-order .tab-content .content-choice .confirm_offer p {
        font-size: 14px;
        line-height: 16px;
        margin: 10px auto;
    }

    .block-partner_information_top, .block-partner_information_top .center-col .company_name {
        display: block;
    }

    .block-partner_information_top .center-col {
        width: 100%;
        margin-left: 15px;
    }

    .block-partner_information_top .center-col .company_name .name p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }

    .block-partner_information_top .right-col .reviews p, .block-partner_information_top .right-col .percent {
        border: inherit;
        text-align: left;
        /*margin-left: 15px;*/
    }

    .block-partner_information_top .right-col .reviews, .block-partner_information_top .right-col .percent {
        margin-bottom: 5px;
    }

    .document-partner .title {
        padding: 10px;
    }

    .document-partner .doc_confirmation p {
        margin: 10px 10px 10px 20px;
    }

    .document-partner .doc_confirmation p:before {
        margin-left: -24px;
        left: 0;
        background-size: 70%;
    }

    .doc-qualification .item {
        margin-left: 45px;
    }

    .doc-qualification .item p {
        margin: 5px 0;
    }

    .all_title_partner, .document-partner .title {
        padding: 10px;
    }

    .document-partner .doc_confirmation {
        padding: 5px 10px;
    }

    .descript-partner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .history_company {
        padding-left: 15px;
    }

    .overall .overall-rating .title {
        margin-right: 0;
    }

    .block-recommend p:before, .block-no-recommend p:before {
        margin-left: 0;
        left: 0;
    }

    .overall {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .history_company .item .l-col {
        width: 100%;
    }

    .history_company .item .r-col {
        width: 100%;
    }

    .history_company .item {
        display: block;
    }

    .slider-foto-parnter {
        margin-bottom: 65px;
    }

    .block-map-partners .contacs .all-block {
        margin-left: 0;
    }

    .order-comment .all_comment {
        display: block;
    }

    .order-comment .all_comment .check-star, .order-comment .all_comment label {
        width: 100%;
        margin-bottom: 17px;
    }

    .order-comment .all_comment .check-star {
        width: 60%;
    }

    .order-comment, .recommend-company {
        margin-left: 0;
        margin-right: 0;
    }

    .overall-rating .check-star, .overall-rating .check-star span {
        margin-left: 0;
    }

    .overall-rating .assessment .checkmark-star {
        margin-left: 0;
        margin-right: 7px;
    }

    .overall-rating .assessment .check-star {
        margin-bottom: 20px;
    }

    .overall-block-company .commit .commit_text textarea {
        min-width: 255px;
    }

    .name_block_comment h2 {
        font-size: 20px;
        line-height: 25px;
        margin: 0 auto 10px auto;
    }

    .name_block_comment .block_fulfill_order {
        display: block;
        margin: 0 auto 15px auto;
        text-align: center;
    }

    .name_block_comment .block_fulfill_order .r-col {
        margin-left: 0;
    }

    .name_block_comment .block_fulfill_order .l-col p, .name_block_comment .block_fulfill_order .r-col p {
        margin-right: 0;
        color: #707070;
        font-size: 14px;
        line-height: 16px;
    }

    .all_comment_partner .center-col {
        width: 88%;
    }

    .overall_order_block_commit .overall-rating .title h2 {
        font-size: 15px;
        line-height: 18px;
        padding: 12px 10px;
    }

    .name_block_comment .block_fulfill_order .l-col {
        border-right: inherit;
    }

    .characteristic .hint_star {
        padding: 1px 10px;
    }

    .order-comment {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .recommend-company .title h2, .overall_order_block_commit .title h2 {
        line-height: 20px;
        font-size: 18px;
        padding: 10px 15px;
    }

    .but-btn.give_feedback {
        margin: 0 auto 20px auto !important;
    }

    .slider-foto-parnter .slider-partner-company .slider-item .foto-partners {
        height: 180px;
    }

    .block-map-partners #map_adress_partner_company {
        height: 250px;
        width: 100%;
    }

    .some-review-company .r-col .text-review-company {
        height: 95px;
    }

    .some-review-company .r-col a {
        font-size: 13px;
        line-height: 16px;
        margin-left: 15px;
    }

    .third_sk_content .bot-btn {
        margin-right: auto;
        margin-left: auto;
    }

    .sk_content .bot-btn {
        margin-right: auto;
        margin-left: auto;
    }

    .center-block-provider .recourse-lk .item {
        width: 100%;
    }

    .f-prof {
        width: 89%;
        margin: 0 auto !important;
    }

    .register .center-input .block-profile .v-d input, .register .center-input .block-profile .adress-pr {
        width: 100% !important;
        margin-top: 5px;
    }

    .content-form-profile .profile-form {
        margin: 30px 5px;
    }

    .profile-form .block-profile input {
        width: 100% !important;
        margin: 10px 0;
    }

    .doc-qualification {
        display: block;
    }

    .reviews-Partn .all-reviews-company .rew, .reviews-Partn .all-reviews-company .percent {
        width: 100%;
    }

    .reviews-Partn h2 {
        padding: 5px 15px 10px 5px;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col {
        width: 100%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .title {
        padding-top: 15px;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col h5, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col h5 {
        font-size: 14px;
        line-height: 16px;
        font-family: 'Roboto-BoldItalic';
        margin: 15px 0 10px 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .name {
        margin-left: 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name p, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .name p {
        font-size: 13px;
        line-height: 16px;

    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .text p, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .text p {
        font-size: 13px;
        line-height: 16px;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name p, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .name p {
        margin: 0 0 10px 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .name {
        width: 40%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col {
        width: 100%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .text, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .text {
        width: 45%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col .list .name {
        width: 60%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .hide_list {
        margin: 15px 0 0 40px;
        padding-bottom: 15px;
    }

    .company_offer .about-company .company-prop .l-col {
        width: 100%;
    }

    .company_offer .about-company .company-prop {
        display: block;
    }

    .overall-block-company .commit .commit_text textarea {
        min-height: 80px;
    }

    .lk-rel .sklad_calendar {
        margin-bottom: 14px;
    }

    .popup-clider-foto {
        width: 310px;
    }

    #carousel, #carousel_things, #carousel_things_downloaded {
        display: none;
    }

    #slider, #slider_things, #slider_things_downloaded {
        padding: 10px 5px 10px 5px !important;
        margin: 0 15px !important;
    }

    .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
        width: 15px;
        height: 20px;
    }

    .flex-direction-nav a.flex-prev:before {
        right: 1px;
    }

    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -15px !important;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: -15px !important;
    }

    .flex-direction-nav a.flex-next:before {
        left: 1px;
    }

    .gallery-sliders {
        margin: 25px 0;
        padding: 0;
    }

    .section-my-applications .application .right-col {
        order: 3;
    }

    .section-my-applications .application .center-col {
        order: 2;
    }

    .list .text .sk_calendar {
        width: 120px;
    }

    .section-my-applications .application .right-col .suggestion {
        min-height: 25px;
    }

    .section-login .entrance-login .center-info .reestablish a:after, .section-login .entrance-login .center-info .block_no_registration a:after, {
        display: none;
    }

    .completed_list_things .item .r-col .gallery-foto a {
        text-decoration: underline;
    }

    .all-quantity-things {
        margin-left: 0;
    }

    .completed_list_things .item .r-col .gallery-foto a:before, .completed_list_things .item .r-col .gallery-foto a:after {
        display: none;
    }

    .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col a:before, .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col a:after, .section-login .entrance-login .center-info .reestablish a:before, .section-login .entrance-login .center-info .reestablish a:after, .section-login .entrance-login .center-info .block_no_registration a:before, .section-login .entrance-login .center-info .block_no_registration a:after {
        display: none;
    }

    .section-login .entrance-login .center-info .reestablish a, .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col a {
        text-decoration: underline;
    }

    .section-login .entrance-login .center-info .reestablish a:hover, .section-login .entrance-login .center-info .block_no_registration a:hover, .register-provider .f-prof .center-block-provider .center-input .block-to-accept .right-col a:hover {
        text-decoration: underline;
    }
    label.error {
        width: 250px;
    }
    .val_adress #index-error {
        width: 220px !important;
        margin-bottom: 5px;
        position: absolute;
    }
    .register-provider .f-prof .center-block-provider .center-input .provider-foto-company {
        display: block;
        margin-top: 65px;
    }
    .entrance-login label.error, .application label.error {
        width: 220px;
    }
    .v-d-city {
        margin-bottom: 15px;
    }
    .btn-black a{
        padding: 13px 15px;
    }
    .register-provider .step-content .content-choice .all-profile .r-all {
        margin: 20px auto;
    }
    .register-provider .f-prof .center-block-provider .center-input .password_validate {
        margin-bottom: 15px;
    }
    .register-provider .center-block-provider .foto-provider-mobile {
        margin-top: 0;
    }
    .register-provider .f-prof .center-block-provider .center-input .provider-foto-company {
        margin-top: 40px;
    }
    .register-provider .f-prof .center-block-provider .center-input .block-profile {
        margin-bottom: 20px;
        margin-top: 20px;

    }
    .register-provider .f-prof .center-block-provider .center-input .block-profile .v-d .mob_style_validate, .register .center-input .block-profile .v-d .mob_style_validate{
        margin-top: 15px;
    }
    .section-register .register-provider .block-prov .steps .step-menu button{
        text-align: center;
    }
    .section-register .register .center-input .block-to-accept {
        margin: 0 auto;
    }
    .col-three .lk-rel {
        margin-bottom: 20px;
    }
    .lk-rel {
        margin: 0 auto 10px auto;
    }
    .line-black{
        display: none;
    }
    .section-register .register .center-input .block-to-accept{
        padding-top: 10px;
    }
    .some-things .information-things .left-col .r-col .specify-dimensions {
        margin-top: 5px;
    }
    .form-group .all-profile .exact-date input, .form-group .all-profile .date-range input {
        margin-top: 20px !important;
    }
    .step-content .content-choice .list-things-block .parametr_value, .step-content .content-choice .list-things-block #parametr_specify_other{
        margin-top: 5px;
    }
    .untitled .r-col .r-all input {
        margin-bottom: 10px;
    }
}




@media (max-width: 350px) {

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col, .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .r-col {
        width: 100%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .title {
        padding-top: 15px;
        margin: 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col h5 {
        margin: 15px 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list {
        display: block;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name {
        margin-left: 0;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col {
        border: inherit;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name {
        width: 100%;
    }

    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .name p {
        margin: 0 0 5px 0;
    }
    .choice-tab-list-order .tab-content .content-choice .conditions_moving .all-block .l-col .list .text p {
        margin: 0 0 10px 0;
    }
    .completed_things h2, .list_all_things h2 {
        margin-top: 10px;
    }
    .completed_things .list-things {
        margin-top: 20px;
    }
    #js_map #google_map {
        width: 100%;
        height: 87%;
        margin: 25px 0 20px 0;
    }
    /*.choice-tab-list-order .tab-content .content-choice a {*/
        /*text-decoration: underline;*/
    /*}*/
    .choice-tab-list-order .tab-content .content-choice a:before, .choice-tab-list-order .tab-content .content-choice a:after{
        display: none;
    }
    .company_offer .choice-offer {
        width: 100%;
        display: block;
    }
    .company_offer .choice-offer .but {
        width: 150px;
        margin: 20px auto;
    }
    .some-things .information-things .left-col .r-col .specify-dimensions {
        margin-top: 5px;
    }
    .form-group .all-profile .exact-date input, .form-group .all-profile .date-range input {
        margin-top: 20px !important;
    }
    .step-content .content-choice .list-things-block .parametr_value, .step-content .content-choice .list-things-block #parametr_specify_other{
        margin-top: 5px;
    }
    .untitled .r-col .r-all input {
        margin-bottom: 10px;
    }
}

