@media (max-width: 1600px) {


}







@media (max-width: 1199px) {
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article, .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col {
        width: 435px;
        position: relative;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .foto {
        width: 435px;
        height: 250px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info, .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col {
        height: 60px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col{
        width: 335px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col{
        width: 435px;
    }
}













@media (max-width: 1023px) {
    .section-blog .title h2 {
        padding-top: 75px;
        padding-bottom: 85px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article, .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col {
        width: 330px;
        position: relative;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .foto {
        width: 330px;
        height: 190px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info, .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col {
        height: 60px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col {
        width: 120px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col{
        width: 315px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col{
        width: 330px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .title-article a {
        font-size: 15px;
        line-height: 18px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col{
        height: 45px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col p:before {
        left: -23px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col{
        position: inherit;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col {
        height: 60px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col p {
        font-size: 13px;
        line-height: 14px;
        margin-left: 34px;
        margin-right: 20px;
    }
    .pagination .arrow-left{
        margin-left: 0;
    }
}














@media (max-width: 767px) {
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col {
        height: 30px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item{
        display: block;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col{
        margin-bottom: 30px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col {
        width: 100%;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article, .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col {
        width: 360px;
        margin: 0 auto;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .foto {
        width: 360px;
        height: 207px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col {
        width: 360px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col{
        margin-bottom: 0;
    }
    .section-records .tab-wrapper .tab-menu-blog{
        display: block;
    }
    .section-records .tab-wrapper .tab-menu-blog li:before{
        display: none;
    }
    .section-records .tab-wrapper .tab-menu-blog .active{
        border-bottom: inherit;
        text-decoration: underline;
    }
    .section-records .tab-wrapper .tab-menu-blog li:hover {
        border-bottom: inherit;
        text-decoration: underline;
    }
    .section-records .tab-wrapper .tab-menu-blog li {
        text-decoration: inherit;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info{
        display: block;
        height: 100%;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col{
        background-color: inherit;
        border: inherit;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .left-col p{
        text-align: left;
    }
}















@media (max-width: 480px) {
    .section-blog .title h2 {
        font-size: 30px;
        line-height: 30px;
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .section-blog .title h2:before {
        width: 90px;
        height: 65px;
        margin-top: -15px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article, .section-records .tab-wrapper .tab-content .blog-content .item .col .relocation .info .right-col {
        width: 260px;
        margin: 0 auto;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .title-article{
        width: 260px;
        height: auto;
        padding: 15px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .title-article a{
        top: inherit;
        position: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
        transform: inherit;
        margin: 15px auto;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .foto{
        width: 260px;
        height: 150px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col {
        width: 260px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col p {
        font-size: 13px;
        line-height: 16px;
        margin-left: 30px;
        margin-right: 15px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .info .right-col p:before {
        left: -22px;
    }
    .section-records .tab-wrapper .tab-content .blog-content .item .col .block-article .title-article a {
        font-size: 14px;
        line-height: 16px;
    }
    .section-records .tab-wrapper .tab-menu-blog {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .section-records .tab-wrapper .tab-menu-blog li{
        margin: 0 auto;
        text-align: center;
    }
    .pagination {
        margin: 20px 0 40px 0;
    }
    .pagination .number {
        width: 25px;
        height: 25px;
        padding: 4px 7px;
    }
    .pagination a {
        position: relative;
        font-size: 14px;
        line-height: 16px;
    }
    .pagination .arrow-left {
        margin-right: 10px;
        width: 10px;
        height: 25px;
        margin-left: 0;
    }
    .pagination .arrow-right {
        margin-left: 10px;
        width: 10px;
        height: 25px;
    }
    .section-records .tab-wrapper .tab-menu-blog li {
        font-size: 15px;
    }
}


