@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto/Roboto-Light'), local('Roboto/Roboto-Light'), url('Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto/Roboto-Regular'), local('Roboto/Roboto-Regular'), url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto/Roboto-Bold'), local('Roboto/Roboto-Bold'), url('Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-SemiBoldItalic';
    src: local('Roboto/Roboto-SemiBoldItalic'), local('Roboto/Roboto-SemiBoldItalic'), url('Roboto/Roboto-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto/Roboto-Light'), local('Roboto/Roboto-Light'), url('Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto/Roboto-Medium'), local('Roboto/Roboto-Medium'), url('Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: local('Roboto/Roboto-MediumItalic'), local('Roboto/Roboto-MediumItalic'), url('Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-SemiBold';
    src: local('Roboto/Roboto-SemiBold'), local('Roboto/Roboto-SemiBold'), url('Roboto/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: local('Roboto/Roboto-Black'), local('Roboto/Roboto-Black'), url('Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: local('Roboto/Roboto-Italic'), local('Roboto/Roboto-Italic'), url('Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: local('Roboto/Roboto-BoldItalic'), local('Roboto/Roboto-BoldItalic'), url('Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}





